<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127586410541-r15cjul2ouodd4feg8cm4sf2l08hbrui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127586410541-r15cjul2ouodd4feg8cm4sf2l08hbrui</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127586410541-70861lai2h86ald7qtbk2c3f4jiqs9cm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMf-2QU9mI-H4GNwR-eVOh99GOH1Ws3K0</string>
	<key>GCM_SENDER_ID</key>
	<string>127586410541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayit.yoggo</string>
	<key>PROJECT_ID</key>
	<string>lovel-a2507</string>
	<key>STORAGE_BUCKET</key>
	<string>lovel-a2507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127586410541:ios:2d4f2ba269d6417e5a18a4</string>
</dict>
</plist>